* {
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
  }
 
  [class*="col-"] {
    float: left;
    padding: 15px;
    
  }
  
#nombre{
    width: auto;
    margin: auto;
    padding: 100px;
    text-align: center;
    
}
  

  .col-1 {width: 45%}
    
  .col-2 {width: 55%;}

  .col-1  {
    text-align: center;
 
  }
  
  .col-2{
    
      text-align: left;
    }
  img { 
    position: absolute;
    top: 25px;
    left: 120px;
    font-size: 20px;
    width: 15%;
    height: auto;
    opacity: 0.8;
}



#boton{
  color: green;
  
}
#boton-ocultar{
  color: green;
}
#boton-aparecer{
  color: green;
}
button{
  color: green;
}
input{
  color: green;
}


